* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p.quote {
  padding: 60px 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem;
  font-weight: 500;
}
